FV_ODD/FV_ODD.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en" n="testms">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Frankenstein Variorum ODD</title>
        <author>Elisa E. Beshero-Bondar</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a
            Creative Commons Attribution-ShareAlike 3.0 Unported License</licence>
          <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
            <p>Copyright 2013 TEI Consortium.</p>
            <p>All rights reserved.</p>
            <p>Redistribution and use in source and binary forms, with or without modification, are
              permitted provided that the following conditions are met:</p>
            <list>
              <item>Redistributions of source code must retain the above copyright notice, this list
                of conditions and the following disclaimer.</item>
              <item>Redistributions in binary form must reproduce the above copyright notice, this
                list of conditions and the following disclaimer in the documentation and/or other
                materials provided with the distribution.</item>
            </list>
            <p>This software is provided by the copyright holders and contributors "as is" and any
              express or implied warranties, including, but not limited to, the implied warranties
              of merchantability and fitness for a particular purpose are disclaimed. In no event
              shall the copyright holder or contributors be liable for any direct, indirect,
              incidental, special, exemplary, or consequential damages (including, but not limited
              to, procurement of substitute goods or services; loss of use, data, or profits; or
              business interruption) however caused and on any theory of liability, whether in
              contract, strict liability, or tort (including negligence or otherwise) arising in any
              way out of the use of this software, even if advised of the possibility of such
              damage.</p>
          </licence>
          <p>TEI material can be licensed differently depending on the use you intend to make of it.
            Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
            generally appropriate for usages which treat TEI content as data or documentation. The
            BSD-2 licence is generally appropriate for usage of TEI content in a software
            environment. For further information or clarification, please contact the <ref
              target="mailto:info@tei-c.org">TEI Consortium</ref>.</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-08-28T03:04:30.399Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc>
        </application>
      </appInfo>
    </encodingDesc>
  </teiHeader>
  <text>
    <body>
      <p>TEI for manuscript description</p>
      <schemaSpec ident="FV_ODD" start="TEI teiCorpus" prefix="tei_" targetLang="en" docLang="en">
        <moduleRef key="header"/>
        <moduleRef key="linking"/>
        <moduleRef key="core"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure"/>
        <moduleRef key="namesdates"/>
        <moduleRef key="transcr"/>
        <moduleRef key="analysis"/>
        <moduleRef key="msdescription"/>
        <moduleRef key="textcrit"
          include="app lacunaEnd lacunaStart lem listApp listWit rdg rdgGrp variantEncoding wit witDetail witEnd witStart witness"/>
        <moduleRef key="tagdocs"/>
        <elementSpec ident="sourceDesc" mode="replace">
          <desc versionDate="2023-08-28" xml:lang="en">describes the source(s) from which an electronic text was derived or generated, typically a
            bibliographic description in the case of a digitized text, or a phrase such as "born digital"
            for a text which has no previous existence. In this customization, we are permitting both paragraphs and listBibl elements.</desc>
          <content>
            <alternate minOccurs="1" maxOccurs="unbounded">
              <classRef key="model.pLike" minOccurs="1"
                maxOccurs="unbounded"/>
              <classRef key="model.biblLike"/>
                <classRef key="model.sourceDescPart"/>
                <classRef key="model.listLike"/>
            </alternate>
          </content>
        </elementSpec>
        <elementSpec ident="body" mode="replace">
          <desc versionDate="2023-08-28" xml:lang="en">contains the whole body of a single unitary
            text, excluding any front or back matter. We are modifying the body element to permit it
            to contain <gi>seg</gi> and text nodes for representing our re-sequenced version of the
            Shelley-Godwin Archive files.</desc>
          <classes>
            <memberOf key="att.global"/>
            <memberOf key="att.declaring"/>
          </classes>
          <content>
 
                <alternate minOccurs="0"
                  maxOccurs="unbounded">
                  <classRef key="model.global"
                    minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="listApp" minOccurs="0" maxOccurs="1"/>
                  <classRef key="model.pLike" minOccurs="0" maxOccurs="unbounded"/>
                  <classRef key="model.divTop" minOccurs="0" maxOccurs="unbounded"/>
                  <classRef key="model.divGenLike" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="lg" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="add" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="mod" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="shi" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="w" minOccurs="0" maxOccurs="unbounded"/>
                  <textNode/>
                </alternate>
              <sequence minOccurs="0"
                maxOccurs="unbounded">
                <classRef key="model.divBottom"/>
                <classRef key="model.global"
                  minOccurs="0" maxOccurs="unbounded"/>
              </sequence>
          </content>
        </elementSpec>
        <elementSpec ident="seg" mode="change">
          <desc>represents any segmentation of text below the <soCalled>chunk</soCalled> level. In our customization, the <gi>seg</gi> element may appear at any level of the document
          under the <gi>body</gi> element, and may surround <gi>p</gi> elements or appear inside them. Because the <gi>seg</gi> element is generated to represent a passage of variation,
          and variation <q>chunks</q> can be larger or smaller than paragraphs, we have restructured the TEI to permit a more flexible encoding.</desc>     
          <content>
           <alternate minOccurs="0" maxOccurs="unbounded"> 
             <macroRef key="macro.paraContent"/>
            <classRef key="model.pLike" minOccurs="0" maxOccurs="unbounded"/>
             <classRef key="model.headLike" minOccurs="0" maxOccurs="unbounded"/>
             <elementRef key="del-INNER" minOccurs="0" maxOccurs="unbounded"/>
             <elementRef key="add-INNER" minOccurs="0" maxOccurs="unbounded"/>
             <elementRef key="mdel" minOccurs="0" maxOccurs="unbounded"/>
             <elementRef key="shi" minOccurs="0" maxOccurs="unbounded"/>
             <elementRef key="delSpan" minOccurs="0" maxOccurs="unbounded"/>
             <elementRef key="zone" minOccurs="0" maxOccurs="unbounded"/>
           </alternate>
          </content>
        </elementSpec>
        <elementSpec ident="mod" mode="replace">
          <desc versionDate="2023-08-28" xml:lang="en">represents any kind of modification identified within a single document. In the Frankenstein Variorum we are
          permitting this element to hold specialized elements from the Shelley-Godwin Archive.</desc>
          <classes>
            <memberOf key="model.pPart.transcriptional"/>
            <memberOf key="model.linePart"/>
            <memberOf key="att.global"/>
            <memberOf key="att.transcriptional"/>
            <memberOf key="att.typed"/>
            <memberOf key="att.spanning"/>
            <memberOf key="att.dimensions"/>
          </classes>
          <content>
           <alternate minOccurs="1" maxOccurs="unbounded"> 
             <macroRef key="macro.paraContent"/>
             <elementRef key="mdel" minOccurs="0" maxOccurs="unbounded"/>
             <elementRef key="shi" minOccurs="0" maxOccurs="unbounded"/>
             <elementRef key="zone" minOccurs="0" maxOccurs="unbounded"/>
           </alternate>
    
          </content>
        </elementSpec>
        <elementSpec ident="del" mode="replace">
          <desc versionDate="2023-08-28" xml:lang="en">contains a letter, word, or passage deleted, marked as deleted, or otherwise indicated as
            superfluous or spurious in the copy text by an author, scribe, or a previous annotator or corrector. In the Frankenstein Variorum project,
          a deleted passage may be an entire paragraph or more. We also add the <att>medium</att> attribute to indicate ink or pencil deletions in the Thomas text.</desc>
          <classes>
            <memberOf key="att.global"/>
            <memberOf key="model.pPart.transcriptional"/>
            <memberOf key="model.linePart"/>
            <memberOf key="att.transcriptional"/>
            <memberOf key="att.typed"/>
            <memberOf key="att.dimensions"/>
          </classes>
          <content>
            <alternate minOccurs="1" maxOccurs="unbounded">
              <macroRef key="macro.paraContent"/>
              <classRef key="model.pLike" minOccurs="0" maxOccurs="unbounded"/>
              <elementRef key="mdel" minOccurs="0" maxOccurs="unbounded"/>
              <elementRef key="shi" minOccurs="0" maxOccurs="unbounded"/>
              <elementRef key="zone" minOccurs="0" maxOccurs="unbounded"/>
            </alternate>
          </content>
          <attList>
            <attDef ident="medium">
             <datatype>
               <dataRef key="teidata.text"/>
             </datatype>
            </attDef>
          </attList> 
        </elementSpec>
        <elementSpec ident="delSpan" mode="replace">
          <desc versionDate="2023-08-28" xml:lang="en">In the Shelley-Godwin Archive, <gi>delSpan</gi> elements point to <gi>anchor</gi> elements over uneven overlapping hierarchies in the text. In the Frankenstein Variorum
          project, we needed to create matching start and end tags to display these passages properly as deletions in the reading interface. So e created a variation in which the 
          <gi>delSpan</gi> element may be given a special <att>anchor</att> attribute to mark the endpoint for a deletion.</desc>
          
          <classes>
            <memberOf key="att.global"/>
            <memberOf key="model.global.edit"/>
            <memberOf key="att.transcriptional"/>
            <memberOf key="att.typed"/>
            <memberOf key="att.spanning"/>
            <memberOf key="att.dimensions"/>
          </classes>
          <content><empty/></content>
          <attList>
            <attDef ident="delSpan" usage="opt" mode="replace">
              <datatype><dataRef key="teidata.text"/></datatype>
            </attDef>
            <attDef ident="anchor" usage="opt">
              <datatype><dataRef key="ID"/></datatype>
            </attDef>

          </attList>
        </elementSpec>
        
        <elementSpec ident="add" mode="replace">
          <desc versionDate="2023-08-28" xml:lang="en">contains a letter, word, or passage deleted, marked as deleted, or otherwise indicated as
            superfluous or spurious in the copy text by an author, scribe, or a previous annotator or corrector. In the Frankenstein Variorum project,
            a deleted passage may be an entire paragraph or more. We also add the <att>medium</att> attribute to indicate ink or pencil deletions in the Thomas text.</desc>
          <classes>
            <memberOf key="att.global"/>
            <memberOf key="model.pPart.transcriptional"/>
            <memberOf key="model.linePart"/>
            <memberOf key="att.transcriptional"/>
            <memberOf key="att.placement"/>
            <memberOf key="att.typed"/>
            <memberOf key="att.dimensions"/>
          </classes>
          <content>
            <alternate minOccurs="1" maxOccurs="unbounded">
              <macroRef key="macro.paraContent"/>
              <classRef key="model.pLike" minOccurs="0" maxOccurs="unbounded"/>
              <elementRef key="mdel" minOccurs="0" maxOccurs="unbounded"/>
              <elementRef key="shi" minOccurs="0" maxOccurs="unbounded"/>
              <elementRef key="zone" minOccurs="0" maxOccurs="unbounded"/>
            </alternate>
          </content>
          <attList>
            <attDef ident="medium">
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
          </attList>
          
        </elementSpec>
        <elementSpec ident="cit" mode="change">
          
          <content>
            
            <alternate minOccurs="1" maxOccurs="unbounded">
              <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
              <classRef key="model.biblLike"/>
              <classRef key="model.egLike"/>
              <classRef key="model.entryPart"/>
              <classRef key="model.global"/>
              <classRef key="model.graphicLike"/>
              <classRef key="model.ptrLike"/>
              <classRef key="model.attributable"/>
              <elementRef key="pc"/>
              <elementRef key="q"/>
            </alternate>
            
            <!-- if we make it model.entryPart.top, then eg <gen> isnt allowd -->
          </content>
        </elementSpec>
        <elementSpec ident="lg" mode="change">
          
        
          <content>
            <sequence>
              <alternate minOccurs="0" maxOccurs="unbounded">
                <classRef key="model.divTop"/>
                <classRef key="model.global"/>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>      
              <alternate>
                <classRef key="model.lLike"/>
                <classRef key="model.stageLike"/>
                <classRef key="model.labelLike"/>
                <classRef key="model.pPart.transcriptional"/>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="lg"/>
              </alternate>
              <alternate minOccurs="0" maxOccurs="unbounded">
                <classRef key="model.lLike"/>
                <classRef key="model.stageLike"/>
                <classRef key="model.labelLike"/>
                <classRef key="model.pPart.transcriptional"/>
                <classRef key="model.global"/>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="lg"/>
              </alternate>
              <sequence minOccurs="0" maxOccurs="unbounded">        
                <classRef key="model.divBottom"/>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
              </sequence>
            </sequence>
          </content>
        </elementSpec>
      <elementSpec ident="note" mode="change">
        <attList>
          <attDef ident="anchored" mode="replace">
            <valList type="closed">
            <valItem ident="yes"/>
            <valItem ident="no"/>
          </valList
            ></attDef>
        </attList>
      </elementSpec>
        <elementSpec ident="ref" mode="change">
          <desc versionDate="2023-08-28" xml:lang="en">defines a reference to another location, possibly modified by additional text or comment. 
            In this customization, we are including elements in the Frankenstein Variorum namespace that 
            provide information about pointer resolution to the Shelley-Godwin Archive manuscript notebook files.
          </desc>
          <content>
           <alternate minOccurs="1" maxOccurs="unbounded"> 
             <macroRef key="macro.paraContent"/>
             <elementRef key="line_text"/>
             <elementRef key="resolved_text"/>
           </alternate>
          </content>
        </elementSpec>
        
        <elementSpec ident="line_text" ns="https://github.com/FrankensteinVariorum" mode="add"
          module="textcrit">
          <desc versionDate="2023-08-28" xml:lang="en">This element stores text from the
            Shelley-Godwin Archive edition relevant to a particular critical apparatus. It can show
            text immediately preceding and following a variant passage, as located in the S-GA
            edition of the Frankenstein manuscript notebook files.</desc>
          <classes/>
          <content>
            <textNode/>
          </content>
        </elementSpec>
        <elementSpec ident="resolved_text" ns="https://github.com/FrankensteinVariorum"
          mode="add" module="textcrit">
          <desc versionDate="2023-08-28" xml:lang="en">This element stores resolved text from the
            Shelley-Godwin Archive edition relevant to a particular critical apparatus, as located
            in the S-GA edition of the Frankenstein manuscript notebook file.</desc>
          <classes/>
          <content>
            <textNode/>
          </content>
        </elementSpec>
        <elementSpec ident="shi" 
          mode="add" module="core">
          <desc versionDate="2023-08-28" xml:lang="en">A short highlighted passage in the Shelley-Godwin Archive manuscript notebook files.</desc>
          <classes>
            <memberOf key="att.global"/>
          </classes>
          <content>
            <textNode/>
          </content>
        </elementSpec>
        <elementSpec ident="mdel" 
          mode="add" module="core">
          <desc versionDate="2023-08-28" xml:lang="en">A very short deleted passage in the Shelley-Godwin Archive manuscript notebook files.</desc>
          <classes>
            <memberOf key="att.global"/>
          </classes>
          <content>
            <textNode/>
          </content>
        </elementSpec>
        <elementSpec ident="del-INNER" mode="add" module="core">
          <desc versionDate="2023-08-28" xml:lang="en">A specialized version of the del element that appears inside an add or del element. Used in marking Mary Shelley's handwritten deletions
          in the Thomas edition.</desc>
          <classes>
            <memberOf key="att.global"/>
            <memberOf key="model.pPart.transcriptional"/>
            <memberOf key="model.linePart"/>
            <memberOf key="att.transcriptional"/>
            <memberOf key="att.typed"/>
            <memberOf key="att.dimensions"/>
            <memberOf key="att.placement"/>
          </classes>
          <content>
            <macroRef key="macro.paraContent"/>
          </content>
        </elementSpec>
        <elementSpec ident="add-INNER" mode="add" module="core">
          <desc versionDate="2023-08-28" xml:lang="en">A specialized version of the del element that appears inside an add or del element. Used in marking Mary Shelley's handwritten deletions
            in the Thomas edition.</desc>
          <classes>
            <memberOf key="att.global"/>
            <memberOf key="model.pPart.transcriptional"/>
            <memberOf key="model.linePart"/>
            <memberOf key="att.transcriptional"/>
            <memberOf key="att.typed"/>
            <memberOf key="att.dimensions"/>
            <memberOf key="att.placement"/>
          </classes>
          <content>
            <macroRef key="macro.paraContent"/>
          </content>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
